@page
@using CourseHub.UI.Helpers
@using CourseHub.UI.Helpers.AppStart
@model CourseHub.UI.Areas.Admin.Pages.Courses.IndexModel

@{
    ViewData[Global.TITLE] = "Courses";

    string grantEnrollmentRequestPath = Configurer.GetApiClientOptions().ApiServerPath + "/api/Enrollments/GrantEnrollment";
    var defaultAvatar = "if(this.src!='/img/User_Empty.png')this.src='/img/User_Empty.png'";
}



<style>
    #app-add-member-modal .card {
        margin: 0;
        padding: 0;
    }

    #app-add-member-modal .card-body {
        padding: 0;
    }

    .avatar-img {
        height: 3.125rem;
        min-height: 3.125rem;
        width: 3.125rem;
        min-width: 3.125rem;
    }
</style>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Title</th>
                            <th class="text-center">Thumbnail</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Courses)
                        {
                            var course = item.Value;

                            <tr>
                                <td>
                                    <a asp-page="@Global.PAGE_COURSE_DETAIL" asp-route-id="@course.Id">@course.Title</a>
                                </td>
                                <td style="width: 300px; max-width: 100%;">
                                    <a asp-page="@Global.PAGE_COURSE_DETAIL" asp-route-id="@course.Id">
                                        <img src="@course.ThumbUrl" alt="thumb" style="aspect-ratio: 1.5" />
                                    </a>
                                </td>
                                <td>@course.Price</td>
                                <td>
                                    <!--
                                    <input type="submit" name="Action" value="Grant Enrollment" asp-page-handler="GrantEnrollment" />
                                    -->
                                    <div class="app-approve-btn btn btn-primary" data-courseId="@course.Id">Grant Enrollment</div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="app-add-member-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase text-danger">Grant Enrollment to User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var member in Model.Users.Values)
                {
                    <div @*class="card mb-6"*@>
                        <div class="card-body">
                            <div class="media">
                                <div class="avatar mr-5">
                                    <img class="avatar-img" src="@member.AvatarUrl" alt="@member.FullName" onerror="@defaultAvatar">
                                </div>
                                <div class="media-body align-self-center mr-6">
                                    <h6 class="mb-0">@member.FullName</h6>
                                    <!--<small class="text-muted">Online</small>-->
                                </div>

                                <div class="align-self-center ml-auto">
                                    <div class="custom-control custom-checkbox">
                                        <input class="app-add-member custom-control-input" data-val="@member.Id" id="id-user-@member.Id" type="checkbox">
                                        <label class="custom-control-label" for="id-user-@member.Id"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label class="stretched-label" for="id-user-@member.Id"></label>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" id="submitBtn" class="btn btn-outline-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>




<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="module">
    import { postJsonWithCredentials } from '/js/apis/http.js';

    var pageModel = {
        courseId: undefined,
        userId: undefined
    };

    var approveBtns = document.getElementsByClassName('app-approve-btn');
    for (var i = 0; i < approveBtns.length; i++) {
        let btn = approveBtns[i];
        btn.onclick = () => openSelectUserModal(btn.getAttribute('data-courseId'))
    }

    document.getElementById('submitBtn').onclick = () => submitGrantEnrollment();

    function openSelectUserModal(courseId) {
        pageModel.courseId = courseId;
        $("#app-add-member-modal").modal('toggle');
    }
    
    function closePopup() {
        popupBox.classList.remove('show');
    }

    function submitGrantEnrollment() {
        var members = [];
        var memberInputs = document.getElementsByClassName('app-add-member');
        for (var input of memberInputs) {
            if (input.checked) {
                var userId = input.getAttribute('data-val');
                members.push(userId);
            }
        }
        if (members.length > 0)
            pageModel.userId = members[0];

        if (pageModel != undefined && pageModel.userId != undefined && pageModel.courseId != undefined)
        {
            postJsonWithCredentials("@grantEnrollmentRequestPath" + `?courseId=${pageModel.courseId}&userId=${pageModel.userId}`, {})
                .then(res => {
                    if (res.ok) {
                        swal({
                            title: "Success",
                            text: "",
                            icon: "success",
                            buttons: {
                                confirm: "Okay"
                            },
                            closeOnClickOutside: false
                        });
                        closePopup();
                    }
                });
        }
    }

</script>