@page
@using System.Text;
@model CourseHub.UI.Pages.Course.CreateModel
@{
    Dictionary<string, string> text = new()
    {
        { "CreateCourse", "Create a new course" },
        { "CourseTitle", "Course title" },              //Tên khóa học
        { "CourseThumb", "Course thumb" },
        { "CourseIntro", "Course introduction" },
        { "CourseDescription", "Course description" },
        { "CoursePrice", "Course price (VND)" },
        { "CourseLevel", "Course level" },
        { "CourseOutcomes", "Course outcomes" },
        { "CourseRequirements", "Course requirements" },
        { "CourseCategory", "Course category" },
        { "CourseSections", "Course sections" },
        { "AddSection", "Add section" },
        { "Create", "Create course" }
    };

    StringBuilder selectBuilder = new();
    foreach (var item in Model.Categories)
    {
        if (item.IsLeaf)
        {
            selectBuilder.Append(
                $"<option value=\"{item.Id}\">{item.Title}</option>"
            );
        }
    }

    ViewData[Global.TITLE] = "Create Course";
}



<style>
    #sections-group > div {
        margin-top: 4px;
    }

    container form {
        font-size: 2.4 rem;
    }
</style>


@await Html.PartialAsync("Shared/_Alert")

<div class="container mt-5" style="width: 50%">
    <h1 class="mb-4" style="font-size: 36px; text-align:center">@text["CreateCourse"]</h1>
    <form id="createForm" method="post" enctype="multipart/form-data"
          style="display: flex; flex-direction: column" onsubmit="return validateForm()">
        <div class="form-group">
            <label>@text["CourseTitle"]</label>
            <input type="text" class="form-control" asp-for="Dto.Title" required>
        </div>
        <div class="form-group">
            <label>@text["CourseThumb"]</label>
            <input type="file" class="form-control-file" asp-for="Dto.Thumb.File" required>
        </div>
        <div class="form-group">
            <label>@text["CourseIntro"]</label>
            <textarea class="form-control" asp-for="Dto.Intro" required></textarea>
        </div>
        <div class="form-group">
            <label>@text["CourseDescription"]</label>
            <textarea class="form-control" asp-for="Dto.Description" required></textarea>
        </div>
        <div class="form-group">
            <label>@text["CoursePrice"]</label>
            <input type="number" class="form-control" asp-for="Dto.Price" min="0" max="10000000" required>
        </div>
        <div class="form-group">
            <label>@text["CourseLevel"]</label>
            <select class="form-control" asp-for="Dto.Level">
                <option value="0">Beginner</option>
                <option value="1">Intermediate</option>
                <option value="2">All</option>
            </select>
        </div>
        <div class="form-group">
            <label>@text["CourseOutcomes"]</label>
            <textarea class="form-control" asp-for="Dto.Outcomes" required></textarea>
        </div>
        <div class="form-group">
            <label>@text["CourseRequirements"]</label>
            <textarea class="form-control" asp-for="Dto.Requirements" required></textarea>
        </div>
        <div class="form-group">
            <label>@text["CourseCategory"]</label>
            <select id="" class="form-control" asp-for="Dto.LeafCategoryId">
                @Html.Raw(selectBuilder)
            </select>
        </div>



        <div class="form-group" id="sections-group">
            <label class="control-label">@text["CourseSections"]</label>
        </div>



        <!--<button id='add-section-btn' data-v-fe495830="" type="button"
            class="primary-dash-button app-button app-button--primary app-button--large app-button--outline"
            data-education-trigger-key="variations" data-v-1190c12e=""
            style="align-self: center">
            <i class="app-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="width: 20px; height: 20px">
                    <path fill-rule="evenodd" d="M8.48176704,1.5 C8.75790942,1.5 8.98176704,1.72385763 8.98176704,2 L8.981,7.997 L15,7.99797574 C15.2761424,7.99797574 15.5,8.22183336 15.5,8.49797574 C15.5,8.77411811 15.2761424,8.99797574 15,8.99797574 L8.981,8.997 L8.98176704,15 C8.98176704,15.2761424 8.75790942,15.5 8.48176704,15.5 C8.20562467,15.5 7.98176704,15.2761424 7.98176704,15 L7.981,8.997 L2,8.99797574 C1.72385763,8.99797574 1.5,8.77411811 1.5,8.49797574 C1.5,8.22183336 1.72385763,7.99797574 2,7.99797574 L7.981,7.997 L7.98176704,2 C7.98176704,1.72385763 8.20562467,1.5 8.48176704,1.5 Z"></path>
                </svg>
            </i>
            <span>Add section</span>
        </button>-->
        <button id="add-section-btn" type="button" class="btn btn-warning mb-4"
                style="align-self: center">
            @text["AddSection"]
        </button>

        <button type="button" class="btn btn-primary mb-4" style="align-self: center; width: 50%"
                onclick="showModal()">
            @text["Create"]
        </button>
    </form>
</div>

<!--New-->
<div class="modal fade" id="confirmCreationModal" tabindex="-1" role="dialog" aria-labelledby="confirmCreationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmCreationModalLabel">Course Content Obligations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>As an instructor, you are responsible for all content that you post, including lectures, quizzes, coding exercises, practice tests, assignments, resources, answers, course landing page content, labs, assessments, and announcements ("Submitted Content").</p>
                <p></p>
                <p>You represent and warrant that:</p>
                <p>- You will provide and maintain accurate account information;</p>
                <p>- You own or have the necessary licenses, rights, consents, permissions, and authority to authorize WisNet to use your Submitted Content as specified in these Terms and the Terms of Use;</p>
                <p>- Your Submitted Content will not infringe or misappropriate any third party's intellectual property rights;</p>
                <p>- You have the required qualifications, credentials, and expertise (including education, training, knowledge, and skill sets) to teach and offer the services that you offer through your Submitted Content and use of the Services; and you will ensure a quality of service that corresponds with the standards of your industry and instruction services in general.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="confirmSubmission()">Confirm</button>
            </div>
        </div>
    </div>
</div>



<script>
    var sectionsGroup = document.getElementById('sections-group');
    var addSectionBtn = document.getElementById('add-section-btn');
    addSectionBtn.onclick = addSection;

    function addSection() {
        let newDiv = document.createElement('div');
        newDiv.innerHTML = '<input name="Dto.SectionNames" type="text" class="form-control" >';
        sectionsGroup.appendChild(newDiv);
    }



    function validateForm() {
        var checkbox = document.getElementById("agree");
        if (!checkbox.checked) {
            alert("You must agree to the Terms of Use and Privacy Policy.");
            return false;
        }
        return true;
    }
    function showModal() {
        $("#confirmCreationModal").modal('show');
    }

    function confirmSubmission() {
        $("#confirmCreationModal").modal('hide');
        document.getElementById('createForm').submit();
    }
</script>